{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {%  csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Dodaj">
        <a href="{% url 'person:people_list' %}">Anuluj</a>
    </form>
{% endblock %}