{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Podaj adres email.</p>
        {{ form }}
        <input type="submit" value="Dodaj adres e-mail">
        <a href="{% url 'person:people_list' %}">Anuluj</a>
    </form>
{% endblock %}