{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Podaj nr telefonu w formacie xxx-xxx-xxx lub xx-xxx-xx-xx</p>
        {{ form.as_p }}
        <input type="submit" value="Dodaj nr telefonu">
        <a href="{% url 'person:people_list' %}">Anuluj</a>
    </form>
{% endblock %}