{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label>Czy jestę pewien że chcesz usunąć użytkownika {{ person }}?</label>
        <input type="submit" value="tak">
        <a href="{% url 'person:people_list' %}">Nie</a>
    </form>
{% endblock %}