{% extends 'base.html' %}
{% block additional_nav %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="navbar-item navbar-nav ml-auto nav-buttons">
                <form method="get">
                    <label class="search-label" for="search-select-category">Wyszukaj po:</label>
                    <select id="search-select-category" name="category">
                        <option value="first_name">Imie</option>
                        <option value="last_name" selected>Nazwisko</option>
                        <option value="phone">Numer telefonu</option>
                        <option value="email">E-mail</option>
                    </select>
                    <input type="text" name="query" value="{{ request.GET.q }}">
                    <input class="btn btn-light" type="submit" value="Szukaj">
                </form>
            </li>
            <li class="navbar-item navbar-nav ml-auto nav-buttons">
                <a href="{% url 'person:create_person' %}">
                    <button class="btn btn-light">Dodaj osobę</button>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% if people %}
    {% for person in people %}
        <div class="card">
            <div class="card-body">
                <h4>{{ person }}</h4>
                {% if not person.phone_set.all %}
                    <p class="person-contacts">Ta osoba nie posiada numerów telefonu.</p>
                {% else %}
                    <ul class="person-contacts">
                        {% for phone in person.phone_set.all %}
                            <li>{{ phone.phone }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if not person.email_set.all %}
                    <p class="person-contacts">Ta osoba nie posiada skrzynek e-mail</p>
                {% else %}
                    <ul class="person-contacts">
                        {% for email in person.email_set.all %}
                            <li>{{ email.email }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
            <div class="person-buttons">
                <a class="card-link" href="{% url 'person:update_person' person.pk %}">Edytuj imię i nazwisko</a>
                <a class="card-link" href="{% url 'person:add_email' person.pk %}">Dodaj adres e-mail</a>
                <a class="card-link" href="{% url 'person:add_number' person.pk %}">Dodaj nr telefonu</a>
                {% if person.no_emails_or_numbers %}
                    <a class="card-link" href="{% url 'person:delete_person' person.pk %}">Usuń</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Brak osób do wyświetlenia</p>
    {% endif %}
    {% include 'pagination.html' with page=page_obj %}
{% endblock %}