{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Zatwierdź zmiany">
        <a href="{% url 'person:people_list' %}">Anuluj</a>
    </form>
{% endblock %}