body {
    margin: 0;
    padding: 0;
}

.search-label.search-label {
    color: lightgrey;
}

.person-contacts {
    position: center;
    padding: 5px;
    border-radius: 7px;
    list-style-type: none;
    border-right: 1px solid black;
    border-top: 1px dotted black;
    border-bottom: 1px solid black;
    box-shadow: lightgrey 5px 3px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 95%;
}

.card {
    margin: 10px;
    padding: 10px;
    border-right: 1px solid black;
    border-top: 1px dotted black;
    border-bottom: 1px solid black;
    box-shadow: silver 5px 3px;
}

.nav-buttons {
    margin: 10px;
}

.a-title {
    text-decoration: none;
    color: white;
}

.a-title:visited {
    text-decoration: none;
    color: white;
}

.a-title:hover {
    text-decoration: none;
    color: white;
}